{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <link rel="stylesheet" href="/static/Index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

</head>
<body>
    <header>

        <a href="#" class="logo">Portfo<span>lio.</span></a>
        <ul class="menu" id="menu">
            <li><a href="{% url 'home' %}"> HOME </a></li>
            <li><a href="#about"> SKILLS </a></li>
            <li><a href="#certificate"> CERTIFICATES </a></li>
            <li><a href="#about"> ABOUT ME</a></li>
            <li><a href="#contact"> CONTACT ME </a></li>
        </ul>
        
    </header>
    <div id="icon"></div>